:root {
  --color-primary: #ca0b0b;
  --color-primary-2: #9c1a1a;

  --color-light: #ffffff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --shadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}
a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color-grey-dark-1);
  background-color: var(--color-grey-light-4);
  /* background-image: linear-gradient(
    to right,
    var(--color-primary-2),
    var(--color-primary)
  ); */
}
.popup-content {
  width: 40%;
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(-50px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(-50px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
@media (max-width: 767px) {
  .popup-content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .popup-content {
    width: 90%;
  }
}
