:root {
  --color-primary: #ca0b0b;
  --color-primary-2: #c256c2;

  --color-light: #ffffff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --shadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color-grey-dark-1);
  background-color: var(--color-grey-light-4);
  /* background-image: linear-gradient(
    to right,
    var(--color-primary-2),
    var(--color-primary)
  ); */
}
